footer.footer(role='footer')
		.footer-wrap
				.footer-wrap-left
						ul.footer-nav
								li.footer-nav-item
										a.footer-nav-item-link(href='/about') About Us
								li.footer-nav-item
										a.footer-nav-item-link(href='/terms') Terms of Use
								li.footer-nav-item
										a.footer-nav-item-link(href='/privacy') Privacy Policy
								li.footer-nav-item
										a.footer-nav-item-link(href='/sitemap') Sitemap
				.footer-wrap-right
						.footer-copyright &copy; BugCleaners.com 2015 | All Rights Reserved
						ul.footer-social-links
								li.footer-social-links-item
										a.Facebook(href='http://www.facebook.com/bugcleaners', title='Like BugCleaners on FaceBook', target='_blank', rel='nofollow')
								li.footer-social-links-item
										a.Twitter(href='https://twitter.com/bugcleaners', title='Follow BugCleaners on Twitter', target='_blank', rel='nofollow')
								li.footer-social-links-item
										a.GooglePlus(href='https://plus.google.com/bugcleaners', title='+1 BugCleaners on Google+', target='_blank', rel='publisher nofollow')
								li.footer-social-links-item
										a.LinkedIn(href='http://www.linkedin.com/groups/bugcleaners', title='Join BugCleaners on LinkedIn', target='_blank', rel='nofollow')