a.header-logo(href='/')
		img.header-logo-img(src='img/logo.png', width='237', height='64', alt='BugCleaners', title='BugCleaners Logo')

nav.header-nav
	a.header-nav-item(href="/services") Services
	a.header-nav-item(href="/pests") Pests
	a.header-nav-item(href="/resources") Resources
	a.header-nav-item(href="/contact") Contact
	.header-nav-item.button 
		span.header-nav-item-text Get Quote
	
.mobile-nav

.mobile-nav-overlay
	.mobile-nav-close
	.mobile-nav-list
		a.mobile-nav-list-item(href="/services") Services
		a.mobile-nav-list-item(href="/pests") Pests
		a.mobile-nav-list-item(href="/resources") Resources
		a.mobile-nav-list-item(href="/contact") Contact
		
