doctype html
html(lang='en-US', itemscope='', itemtype='http://schema.org/WebPage', dir='ltr', prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
        // Begin Meta Data
        // <link rel="canonical" href="http://getvoip.com/service-quotes">
        // <meta property="og:url" content="http://getvoip.com/service-quotes">
        // <link rel="shortcut icon" href="http://getvoip.com/sites/all/themes/gv_blue/favicon.ico" type="image/vnd.microsoft.icon">
        // <meta property="og:title" content="The Ultimate All-in-one Fitness Device - DovFlex">
        // <meta property="fb:admins" content="http://www.facebook.com/dovflex">
        // <meta itemprop="name" content="Business Phone Service Quotes - GetVoIP">
        // / End Meta data.
        title The Ultimate All-in-one Fitness Device - DovFlex
        link(rel='stylesheet', href='css/style.css', type='text/css')
        script(type='text/javascript', src='http://localhost:48626/takana.js')
    body
        #page
            header#masthead.header(role='banner')
                .hero
                nav.nav-second
            main.main(role='main')
            footer.footer(role='footer')
        script(type='text/javascript', src='js/jquery.min.js')
        script(type='text/javascript', src='js/main.min.js')
