section.section.cta
	.cta-innerwrap
		h2.cta-title Get Your 
			span.cta-title-highlight Free Quote
		.cta-subtitle Instantly receive a bottom line quote.

		form.cta-form(data-action="cta_form")
			.cta-form-step.step.show
				.cta-form-step-group.problem
					.cta-form-step-group-title Your Pest Problem
					.cta-form-conditional.conditional
						+fieldsetSelect('pest_type', 'Select your pest type', 'conditional-primary', true, 
							{
								'roaches': 'Roaches',
								'bed_bugs': 'Bed Bugs',
								'rodents': 'Rodents',
								'termites': 'Termites',
								'ants': 'Ants',
								'mosquitos': 'Mosquitos',
								'other': 'Other',
							})
						+fieldsetInput('other', 'Please Describe', 'conditional-secondary')
					+fieldsetInput('time_of_problem', 'Approx. time of problem', 'half first')
					+fieldsetSelect('home_or_business', 'Home or Business?', 'half', true, {'home': 'Home', 'business': 'Business'})
					.clearfix
					+fieldsetTextarea('problem_description', 'Describe your problem (optional)', '')
				.cta-form-step-group.contact
					.cta-form-step-group-title Contact Information
					.cta-form-step-group-antispam
						.cta-form-step-group-antispam-text Your Information is safe. We will never spam you!
					+fieldsetInput('firstname', 'First Name', 'half first', true)
					+fieldsetInput('lastname', 'Last Name', 'half', true)
					.clearfix
					+fieldsetInput('email', 'Email Address', 'half first', true, 'email')
					+fieldsetInput('phone', 'Phone Number', 'half', true, 'phone')
					.clearfix

				.cta-form-button.submit
					.cta-form-button-text Get Quoted Now
			
			.cta-form-results.results

		.cta-support
			.cta-support-features
				.cta-support-features-item.satisfaction
					.cta-support-features-item-icon
					.cta-support-features-item-text Satisfaction and protection are 100% guaranteed.
				.cta-support-features-item.turnaround
					.cta-support-features-item-icon
					.cta-support-features-item-text Very fast turnaround for treatments.
				.cta-support-features-item.price
					.cta-support-features-item-icon
					.cta-support-features-item-text Lowest price and price match guaranteed.
			
			.cta-support-faq
				h4.cta-support-faq-title(title="Frequently Asked Questions") FAQs
				
				.cta-support-faq-list
					.cta-support-faq-list-item
						h6.cta-support-faq-list-item-title Why should I hire BugCleaners?
						p.cta-support-faq-list-item-content Just as you wouldn’t prescribe medicine for yourself or drill your own cavities, you shouldn’t attempt to control termites or other pests on your own. The products and the expertise offered by Bugcleaners far surpasses what a homeowner could do on their own.  Leave it up to the experts for peace of mind. Why risk it?
					.cta-support-faq-list-item
						h6.cta-support-faq-list-item-title Should I attempt to control the pests myself?
						p.cta-support-faq-list-item-content Just as you wouldn’t prescribe medicine for yourself or drill your own cavities, you shouldn’t attempt to control termites or other pests on your own. The products and the expertise offered by Bugcleaners far surpasses what a homeowner could do on their own.  Leave it up to the experts for peace of mind. Why risk it?
					.cta-support-faq-list-item
						h6.cta-support-faq-list-item-title Am I going to be bound to a contract?
						p.cta-support-faq-list-item-content We do not require any contract and also do not require payment in advance, should you want to pay the year in advance you will receive a slight discount.
					.cta-support-faq-list-item
						h6.cta-support-faq-list-item-title Am I going to receive a one-time treatment or many?
						p.cta-support-faq-list-item-content We provide one-time services and maintenance programs. It is your property we can only advise you from our experience, the inspection, and your needs what might be best. Those who have maintenance programs really enjoy the results of the service as well as the service we provide when they have a need. (It fits in the budget as well)!
					.cta-support-faq-list-item
						h6.cta-support-faq-list-item-title Are the products used dangerous to kids and pets?
						p.cta-support-faq-list-item-content Safety is our top priority. All of our service professionals have been trained on the proper application of materials to ensure a safe and healthy environment for your family and pets. All professional pest control products we use have been registered for use by the United States EPA.
