section.section.pests
	.pests-title The Pests We Provide Treatment For
	
	.pests-list
		.pests-list-item.roaches
			.pests-list-item-icon
			strong.pests-list-item-name Roaches
		.pests-list-item.bed_bugs
			.pests-list-item-icon
			strong.pests-list-item-name Bed Bugs
		.pests-list-item.rodents
			.pests-list-item-icon
			strong.pests-list-item-name Rodents
		.pests-list-item.termites
			.pests-list-item-icon
			strong.pests-list-item-name Termites
		.pests-list-item.ants
			.pests-list-item-icon
			strong.pests-list-item-name Ants
		.pests-list-item.mosquitos
			.pests-list-item-icon
			strong.pests-list-item-name Mosquitos
		.pests-list-item.others
			.pests-list-item-icon
			strong.pests-list-item-name Others
