section.section.reviews
	.reviews-title What Our Clients Say About Us

	.reviews-list
		.reviews-list-item
			.reviews-list-item-img
			.reviews-list-item-name Tyler Evans
			.reviews-list-item-subtitle Home Owner, Queens NY
			.reviews-list-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		.reviews-list-item
			.reviews-list-item-img
			.reviews-list-item-name Alice Howard
			.reviews-list-item-subtitle Café Restaurant Manager
			.reviews-list-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		.reviews-list-item
			.reviews-list-item-img
			.reviews-list-item-name Taylor Vaughn
			.reviews-list-item-subtitle Business Owner
			.reviews-list-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.