section.section.reviews
	h2.reviews-title What Our Clients Say About Us

	.reviews-list
		.reviews-list-item
			.reviews-list-item-img
				img.reviews-list-item-img-photo(alt="Tyler Evans, Home Owner, Queens NY" width="auto", height="auto" src="https://dl.dropboxusercontent.com/u/99892820/male-users/men34-photo-by-Mikhail-Koninin.jpg")
			.reviews-list-item-name Tyler Evans
			.reviews-list-item-subtitle Home Owner, Queens NY
			.reviews-list-item-excerpt
				p.reviews-list-item-excerpt-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		.reviews-list-item
			.reviews-list-item-img
				img.reviews-list-item-img-photo(alt="Alice Howard, Café Restaurant Manager" width="auto", height="auto" src="https://dl.dropboxusercontent.com/u/99892820/female-users/women25-photo-by-Mikhail-Koninin.jpg")
			.reviews-list-item-name Alice Howard
			.reviews-list-item-subtitle Café Restaurant Manager
			.reviews-list-item-excerpt
				p.reviews-list-item-excerpt-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		.reviews-list-item
			.reviews-list-item-img
				img.reviews-list-item-img-photo(alt="Taylor Vaughn, Business Owner" width="auto", height="auto" src="https://dl.dropboxusercontent.com/u/99892820/male-users/men37-photo-by-Mikhail-Koninin.jpg")
			.reviews-list-item-name Taylor Vaughn
			.reviews-list-item-subtitle Business Owner
			.reviews-list-item-excerpt
				p.reviews-list-item-excerpt-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.