section.section.service
	.service-innerwrap
		a.service-item.residential(href="/services/residential")
			.service-item-icon
				.service-item-icon-img

			h3.service-item-title
				span.service-item-title-highlight Residential 
				| Services

			p.service-item-content With our <strong>quick</strong>, <strong>effective</strong> and <strong>affordable</strong> pest control solutions you can be rest assured that you and your house will remain pest-free, 100% guaranteed.
		

		

		a.service-item.commercial(href="/services/commercial")
			.service-item-icon
				.service-item-icon-img

			h3.service-item-title
				span.service-item-title-highlight Commercial 
				| Services

			p.service-item-content Get <strong>hassle-free</strong> pest protection in a <strong>clean</strong> and <strong>easy manner</strong> with guaranteed results by using our customized state-of-the art pest treatments.